In [ ]:
# ЗАДАНИЕ 1
# Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
# Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [55]:
#  - отсортировать все фильмы с рейтингом 5.0
# - соединиить с df movies по movieId, чтобы получить название фильмов
# - посчитать кол-во

In [39]:
ratings = pd.read_csv('ratings.csv')
ratings.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [40]:
movies = pd.read_csv('movies.csv')
movies.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [42]:
joined = ratings.merge(movies, on='movieId', how='inner').query('rating == 5')
joined.head() # джоиним два df, отфильтровываем фильмы с рейтингом 5.0

,userId,movieId,rating,timestamp,title,genres
9,31,1,5.0,850466616,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,40,1,5.0,832058959,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
13,43,1,5.0,848993983,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
16,46,1,5.0,834787906,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
19,57,1,5.0,965796031,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [110]:
joined[['movieId', 'rating', 'title']].groupby('title')['rating'].count().head(1) # оставляем нужные столбцы, 
# группируем по названию и выводим фильм, которому поставил наибольшее кол-во оценки 5.0

title
'Salem's Lot (2004)    1
Name: rating, dtype: int64

In [ ]:
# ЗАДАНИЕ 2
# По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
# категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [35]:
baltic = data[ (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia') ]
baltic.sample(3) #  отсортировать страны: Латвия, Литва, Эстония (случайный порядок)

          country  year  quantity  category
950405  Lithuania  1992     249.0        53
371984     Latvia  2011    6677.0        25
376397     Latvia  2012    1015.0        25

In [36]:
baltic = baltic[ (baltic['category']==4) | (baltic['category']==12) | (baltic['category']==21) ]
baltic.sample(4)# отсортировать категории: 4, 12, 21

          country  year  quantity  category
204794     Latvia  2007       0.0        21
222290  Lithuania  2000      64.0        21
224873     Latvia  2005       6.0        21
241835    Estonia  2004    2660.0        21

In [37]:
baltic = baltic[baltic['year'].between(2005, 2010)]
baltic.sample(5) # за период с 2005 по 2010 года

          country  year  quantity  category
103923  Lithuania  2008      57.0        12
205227  Lithuania  2007     760.0        21
204792     Latvia  2009       0.0        21
20483      Latvia  2009       0.0         4
113241  Lithuania  2007     369.0        12

In [38]:
baltic['quantity'].sum() # посчитать суммарное потребление

240481.0

In [ ]:
# ЗАДАНИЕ 3. 
# Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [49]:
df = pd.read_html('https://fortrader.org/en/forex-education')[0]

In [50]:
df[:7]

,Сайт,Описание,Описание.1,Загрузок
0,forexsystemsru.com,Очень интересно,Очень интересно,284/12
1,forexsystems.ru,Независимый форекс форум для трейдеров,Независимый форекс форум для трейдеров,650/2
2,fortrader.ru,Форекс журнал для трейдеров - все о форекс,Форекс журнал для трейдеров - все о форекс,284/12
3,financeforum.ru,Все о финансах на одной странице,Все о финансах на одной странице,20/0
4,tvojforex.ru,Форекс блог о заработке на форекс,Форекс блог о заработке на форекс,37/0
5,forexmytop.ru,Независимый рейтинг Форекс брокеров »,Независимый рейтинг Форекс брокеров »,10/0
6,ubk-forex.blogspot.com,Блог Инвестора: ШОК-КОУЧИНГ,Блог Инвестора: ШОК-КОУЧИНГ,14/0

In [63]:
df['Описание'].head()

0                               Очень интересно
1        Независимый форекс форум для трейдеров
2    Форекс журнал для трейдеров - все о форекс
3              Все о финансах на одной странице
4             Форекс блог о заработке на форекс
Name: Описание, dtype: object

In [67]:
df[ df['Описание'].str.contains('форе', case=False)]

,Сайт,Описание,Описание.1,Загрузок
1,forexsystems.ru,Независимый форекс форум для трейдеров,Независимый форекс форум для трейдеров,650/2
2,fortrader.ru,Форекс журнал для трейдеров - все о форекс,Форекс журнал для трейдеров - все о форекс,284/12
4,tvojforex.ru,Форекс блог о заработке на форекс,Форекс блог о заработке на форекс,37/0
5,forexmytop.ru,Независимый рейтинг Форекс брокеров »,Независимый рейтинг Форекс брокеров »,10/0
7,tommy27fx.blogspot.ru,Forex Forum - Независимый форекс форум для тре...,Forex Forum - Независимый форекс форум для тре...,37/0
8,for-trade.net,Торговля на ФОРЕКС - Сайт fx-trade! в помощь т...,Торговля на ФОРЕКС - Сайт fx-trade! в помощь т...,33/0