In [ ]:
Задание 1. Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [1]:
import pandas as pd

In [82]:
logs = pd.read_csv('visit_log.csv', sep = ';')
logs.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [46]:
def source_type(traffic_source):
    if traffic_source == 'yandex' or traffic_source == 'google':
        return 'organic' 
    if traffic_source == 'paid' and traffic_source == 'email' and region == 'Russia':
        return 'ad'
    if traffic_source == 'paid' and traffic_source == 'email' and region != 'Russia':
        return 'other'
    else:
        return traffic_source

In [49]:
logs['source_type'] = logs['traffic_source'].apply(source_type)
logs.tail(3)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,paid
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,email

In [ ]:
Задание 2. В файле URLs.txt содержатся url страниц новостного сайта. 
Вам необходимо отфильтровать его по адресам страниц с текстами новостей. 
Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис.

In [5]:
urls = pd.read_table('URLs.txt')
urls.head(5)

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [2]:
import re

In [33]:
urls[(urls['url'].str.contains('/\d{8}-'))].head() # применяем метод str.contains ко всему фрейму

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [ ]:
Задание 3. 
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. 
Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. 
Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [3]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
1.сгруппировать df по user_id (пользователи, которые выставили более 100 оценок)
2.Посчитайте среднее время жизни пользователей

In [11]:
df = ratings.groupby('userId').count() # группируем по userId и считаем кол-во 
filtered_df = df[df.rating > 100].agg({'timestamp': ['max', 'min']}) # отфильтровываем тех, кто выставил более 100 оценок и находим t.max и t.min
filtered_df.head()

     timestamp
max       2698
min        101

In [20]:
# Костя, еще у меня была мысль написать функцию, где я нахожу разницу между max и min, и хотела применить её к определёному столбцу.
# Как-то можно было решить эту задачу с применением функций или это лишнее нагромождение? 

def user_mean_time(timestamp):
    return filtered_df.timestamp.max() - filtered_df.timestamp.min()

In [ ]:
4. Дана статистика услуг перевозок клиентов компании по типам:

rzd - железнодорожные перевозки
auto - автомобильные перевозки
air - воздушные перевозки
client_base - адреса клиентов

In [9]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

In [11]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

In [12]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

In [13]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [27]:
# 1. таблицу с тремя типами выручки для каждого client_id без указания адреса клиента

df1 = rzd.merge(auto, on='client_id', how='left').merge(air, on='client_id', how='left').fillna(0)
print (df1)

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111         1093           0.0          0.0
1        112         2810           0.0          0.0
2        113        10283       57483.0          0.0
3        114         5774          83.0          0.0
4        115          981         912.0         81.0

In [30]:
# 2. аналогичную таблицу по типам выручки с указанием адреса клиента

df2 = client_base.merge(auto, on='client_id', how='left').merge(air, on='client_id', how='left').merge(rzd, on='client_id', how='left').fillna(0)
print (df2)

   client_id          address  auto_revenue  air_revenue  rzd_revenue
0        111  Комсомольская 4           0.0          0.0       1093.0
1        112   Энтузиастов 8а           0.0          0.0       2810.0
2        113  Левобережная 1а       57483.0          0.0      10283.0
3        114          Мира 14          83.0          0.0       5774.0
4        115        ЗЖБИиДК 1         912.0         81.0        981.0
5        116    Строителей 18        4834.0          4.0          0.0
6        117  Панфиловская 33          98.0         13.0          0.0
7        118     Мастеркова 4           0.0        173.0          0.0